section[singlePoll]{
    height: 140vh;
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: 40% 40%;
    background-image: url('../../assets/img/background.png');


    & div.title{
        margin-left: 10vw;
        padding-top: 25vh;
        color: $clear-color;
        & .highlight:hover{
            color:$clear-color;
            text-decoration: underline;
        }
        & h2{
            margin: 2vh auto;
        }
    }
}