header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    height: 100px;
    background-color: $pinkish-tan;

    & ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100px;
       & li{
        font-size: $p-font-size;
        margin: auto 1rem;
        & a{
            color: $clear-color;
       }
       & a:hover{
           color:$dark-mauve;
       }
    }
    & .actions{
        display: flex;
        flex-direction: row;
        align-content: center;
   
    }
    }
    & nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 50%;
    }
}