.hero--centered{
    flex-direction: column;
    align-content: center;
    justify-content: center;
    display: flex;
    width: 50%;
    height: 80vh;
    margin: auto;
    text-align: center;
    
    & a.button{
        margin: 15px auto;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        display: flex;
      

    }
}
.hero--compare{
    position: relative;
    top: -26vh;
   & .content{
       width: 30%;
       margin-left: 10vw;
       & h3{
           font-size: $h4-font-size;
           margin: 2.5vh auto;
       }
    }
}
@media screen and (min-width : 1440px){
    .hero--compare{
        position: relative;
        top: -20vh;
       & .content{
    
           width: 40%;
           margin-left: 10vw;
        }
    }
}