body{
    font-family: $helvetica;
}


h1{
    font-size: $h1-font-size;
}
h2{
    font-size: $h2-font-size;
}
h3{
    font-size: $h3-font-size;
}
h4{
    font-size: $h4-font-size;
}
h5{
    font-size: $h5-font-size;
}
h6{
    font-size: $h6-font-size;
}
p{
    font-size: $p-font-size;
}
// span{}
 span.highlight{
     color: $dark-mauve;
     &.clear{
        color: $clear-color;
        font-weight: $author-font-weight !important;
        
        &:hover{
        color: $dark-mauve !important;
        }
     }
     &.highlight:hover{
        color: $pinkish-tan;
        text-decoration: underline $pinkish-tan;
    }
    

 }
 a{
    text-decoration: none;
 }