    $pinkish-tan: #e08787;
    $dark-mauve: #934c5d;
    $light-pink: #ffe3ea;
    $clear-color: #fff;
    $button-color: #FAADBF;
  
    //typos
    $h1-font-size:60px;
    $h2-font-size:48px;
    $h3-font-size:36px;
    $h4-font-size:24px;
    $h5-font-size:18px;
    $h6-font-size:12px;

    $p-font-size:20px;
    $author-font-weight: bold;
    $number-font-size:40px;
    $font-size-vote: 25px;
    //margins
    $header-m-top: 2.5rem
